* {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  margin: 0;
}

main {
  padding: 36px;
}

header {
  display: flex;
  align-items: center;
  background-color: #672280;
}

.header--image {
  height: 40px;
  width: auto;
  margin: 16px;
}

.header--title {
  color: white;
  font-size: 1.8rem;
}

.form {
  display: grid;
  grid-template: 40px 40px/ 1fr 1fr;
  gap: 18px
}

.form--button {
  grid-column: 1 / -1;
  font-family: 'Karla', sans-serif;
  border-radius: 5px;
  background-color: #672280;
  color: white;
  cursor: pointer;
  border: none;
  margin-bottom: 10px;
}

.form--button:hover {
  background-color: #804295;
}

.form--button:active {
  background-color: #510c6a;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.meme {
  position: relative;
  display: flex;
  justify-content: center;
}

.meme--image {
  max-width: 80%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}